<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Controllers</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>
<body>
<div style="margin: 10px;">

<div ng-controller="Level1Ctl" style="border: solid 2px red; margin: 30px; padding: 10px;">

    <div style="text-align: center">
        Name: <input type="text" ng-model="name">
        myObject.name <input type="text" ng-model="myObject.name">
    </div>

    <div class="" ng-controller="Level2Ctl" style="border: solid 2px red; margin: 30px; padding: 10px">
        <div style="text-align: center">
            Name: <input type="text" ng-model="data.name">
            <label>{{data.name}}</label>
            myObject.name <input type="text" ng-model="myObject.name">
        </div>

        <div class="" ng-controller="Level3Ctl" style="border: solid 2px red; margin: 30px; padding: 10px">
            <div style="text-align: center">
                Name: <input type="text" ng-model="name">
                myObject.name <input type="text" ng-model="myObject.name">
            </div>
        </div>

    </div>

</div>

</div>

<script src="../angular.js"> </script>
<script src="app.js"></script>
</body>
</html>